In [7]:
import functions as functions
import pandas as pd
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# 1. Build the Data Set Required

## 1.1 From Ken French Data Library

Extract the monthly Excess-Market, SMB, and HML returns and the one-month T-bill rate from the dataset labeled "Fama/French 3 Factors"

In [2]:
three_factors = functions.get_ffme_returns('F-F_Research_Data_Factors')
three_factors

         Mkt-RF     SMB     HML      RF
Date
1926-07  0.0296 -0.0256 -0.0243  0.0022
1926-08  0.0264 -0.0117  0.0382  0.0025
1926-09  0.0036 -0.0140  0.0013  0.0023
1926-10 -0.0324 -0.0009  0.0070  0.0032
1926-11  0.0253 -0.0010 -0.0051  0.0031
...         ...     ...     ...     ...
2024-08  0.0161 -0.0355 -0.0113  0.0048
2024-09  0.0174 -0.0017 -0.0259  0.0040
2024-10 -0.0097 -0.0101  0.0089  0.0039
2024-11  0.0651  0.0463 -0.0005  0.0040
2024-12 -0.0317 -0.0273 -0.0295  0.0037

[1182 rows x 4 columns]

Extract the monthly RMW and CMA returns from the dataset labeled "Fama/French 5 Factors (2x3)"

In [3]:
five_factors = functions.get_ffme_returns('F-F_Research_Data_5_Factors_2x3')
five_factors

         Mkt-RF     SMB     HML     RMW     CMA      RF
Date
1963-07 -0.0039 -0.0041 -0.0097  0.0068 -0.0118  0.0027
1963-08  0.0507 -0.0080  0.0180  0.0036 -0.0035  0.0025
1963-09 -0.0157 -0.0052  0.0013 -0.0071  0.0029  0.0027
1963-10  0.0253 -0.0139 -0.0010  0.0280 -0.0201  0.0029
1963-11 -0.0085 -0.0088  0.0175 -0.0051  0.0224  0.0027
...         ...     ...     ...     ...     ...     ...
2024-08  0.0161 -0.0365 -0.0113  0.0085  0.0086  0.0048
2024-09  0.0174 -0.0102 -0.0259  0.0004 -0.0026  0.0040
2024-10 -0.0097 -0.0088  0.0089 -0.0138  0.0103  0.0039
2024-11  0.0651  0.0478 -0.0005 -0.0262 -0.0217  0.0040
2024-12 -0.0317 -0.0387 -0.0295  0.0182 -0.0110  0.0037

[738 rows x 6 columns]

Extract the monthly UMD returns from the dataset labeled "Momentum Factor (MoM)"

In [4]:
MoM = functions.get_ffme_returns('F-F_Momentum_Factor')
MoM

         Mom
Date
1927-01  0.0036
1927-02 -0.0214
1927-03  0.0361
1927-04  0.0430
1927-05  0.0300
...         ...
2024-08  0.0479
2024-09 -0.0060
2024-10  0.0287
2024-11  0.0090
2024-12  0.0005

[1176 rows x 1 columns]

Extract the monthly short-term reversal factor from the dataset labeled "Short-Term Reversal Factor (ST Rev)"

In [5]:
ST_Rev = functions.get_ffme_returns('F-F_ST_Reversal_Factor')
ST_Rev

         ST_Rev
Date
1926-02 -0.0201
1926-03 -0.0590
1926-04 -0.0095
1926-05 -0.0124
1926-06  0.0401
...         ...
2024-08 -0.0017
2024-09  0.0056
2024-10 -0.0138
2024-11 -0.0458
2024-12  0.0033

[1187 rows x 1 columns]

## 1.2 From AQR Data Library

Get the updated monthly Quality-minus-Junk (QMJ) factor for the US from the AQR data library

In [18]:
QMJ = pd.read_excel('Quality Minus Junk 10 QualitySorted Portfolios Monthly.xlsx', skiprows=18,usecols="A,L",engine='openpyxl',index_col=0)
QMJ.columns = ['QMJ']
QMJ.index = pd.to_datetime(QMJ.index,format="%m/%d/%Y").to_period('M')
QMJ.dropna(inplace=True)
QMJ

              QMJ
DATE
1957-07  0.022535
1957-08 -0.019147
1957-09 -0.000070
1957-10  0.012341
1957-11 -0.010200
...           ...
2024-06  0.026932
2024-07 -0.040088
2024-08  0.039230
2024-09 -0.001662
2024-10 -0.011567

[808 rows x 1 columns]

## 1.3 Combine all Factor Data together

In [20]:
raw_data = pd.concat([three_factors,five_factors[['RMW','CMA']],MoM,ST_Rev,QMJ],sort=False,axis=1,join='inner')
raw_data

,Mkt-RF,SMB,HML,RF,RMW,CMA,Mom,ST_Rev,QMJ
1963-07,-0.0039,-0.0045,-0.0097,0.0027,0.0068,-0.0118,0.0090,-0.0008,0.020621
1963-08,0.0507,-0.0098,0.0180,0.0025,0.0036,-0.0035,0.0101,0.0130,-0.024056
1963-09,-0.0157,-0.0033,0.0013,0.0027,-0.0071,0.0029,0.0019,0.0119,0.001689
1963-10,0.0253,-0.0058,-0.0010,0.0029,0.0280,-0.0201,0.0312,-0.0066,0.011333
1963-11,-0.0085,-0.0117,0.0175,0.0027,-0.0051,0.0224,-0.0074,0.0112,0.011044
...,...,...,...,...,...,...,...,...,...
2024-06,0.0277,-0.0306,-0.0331,0.0041,0.0051,-0.0178,0.0090,-0.0195,0.026932
2024-07,0.0124,0.0680,0.0574,0.0045,0.0022,0.0043,-0.0242,0.0347,-0.040088
2024-08,0.0161,-0.0355,-0.0113,0.0048,0.0085,0.0086,0.0479,-0.0017,0.039230
2024-09,0.0174,-0.0017,-0.0259,0.0040,0.0004,-0.0026,-0.0060,0.0056,-0.001662
2024-10,-0.0097,-0.0101,0.0089,0.0039,-0.0138,0.0103,0.0287,-0.0138,-0.011567